.App {
    text-align: center;
    position: relative;
    width: 100%;
    font-size: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

html {
    font-size: 100%;
    height: 100%;
    width: 100%;
    position: relative;
    background-size: cover;
}

body {
    margin: 16px 0px -16px 0px;
    position: relative;
    font-family: "Open Sans";
    color: #484545;
}

.navbar,
.footer {
    flex-shrink: 1;
}

.landingPage {
    flex: 1 0 auto;
    height: 100vh;
    overflow: hidden;
    position: absolute;
}

.navbar {
    width: 100%;
    text-align: center;
    padding: 32px 16px 32px 16px;
    background-color: white;
    font-size: 16px;
    font-weight: 520;
    text-transform: uppercase;
    color: #484545;
    border-bottom: solid #ededed 1px;
    display: block;
    transition: top 0.3s ease-in;
}

.navLink {
    margin: 14px 20px;
    padding: 14px 12px;
    color: #7fd1da;
}

.section-header {
    font-size: 32px;
    margin: 16px 0px 4px 16px;
    padding: 12px 12px;
    color: #555;
    font-weight: 500;
    text-transform: uppercase;
}

section.footer {
    display: flex;
    flex-shrink: 0;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: center;
    bottom: 0;
    position: inherit;
}

.footer-content {
    justify-content: center;
    align-content: center;
}

.projectItem {
    position: relative;
    z-index: 2;
    padding: 0em 1em 0em 1em;
    margin-bottom: 1em;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 auto;
}

.project-title {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}
